{% extends '_base.html' %}

{% block title %}
افزودن
{% endblock %}


{% block content %}

<div class="container-fluid  mt-3">
    <div class="row">
        <div class="col-md-12 mx-auto my-auto h-100 d-flex align-items-center justify-content-center ">
            <div class="card text-right shadow h-auto d-inline-block">
                <div class="card-body">
                    <h5 class="card-title">افزودن زون جدید</h5>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
